<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     >
  <head>
   <meta charset="utf-8"/>
   <title>Entreprise</title>
    <!--style.css-->
   <link rel="stylesheet" type="text/css" href="../static/css/style.css"  th:href="@{/css/style.css}" />
   
   <!--bootstrap-->
   <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-4.3.1-dist/css/bootstrap.min.css" 
   th:href="@{/css/bootstrap-4.3.1-dist/css/bootstrap.min.css}" />
  </head>
  <body>
   
       <p></p>
	   <div class="container ">
	   
	         <div class="card">
		          <div class="card-header"> Access denied page</div>
			          <div class="card-body">
			             <h3 class="red">Vous n'etes pas autorisez a accéder à cette ressource </h3>
			          </div>
		      </div>
	   </div>
   </div>
  </body>
</html>